
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.header{
     position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 10px 10px 10px rgb(222, 222, 220);
    background: rgb(240, 238, 238);
    z-index: 999999;
    height: 90px;    
  text-align: center; 
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}