
.Hero{
    margin-top: 160px;
}

.Hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.dizenfeksiya{
    width: 600px;
}
.xizmat {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  width: 530px;
  color: #3375FF;
  margin-bottom: 32px;

   -webkit-text-stroke: 1.5px black;  
   text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);

   text-decoration: none; 
}

.kop{
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
    letter-spacing: 0%;
    width: 300px;
    color: #676D83;
}

.dumaloq{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: -40px;
}
.kok{
    border: 3px solid #FFFFFF;
    background: #13ECF9;
    border-radius: 120px;
    width: 150px;
    height: 150px;
    margin-right: -180px;
    margin-top: -80px;
     
}
.mentol{
    background: #AAFDF8;
    border-radius: 120px;
    width: 76px;
    height: 73px;
    margin-top: -190px;
     
     z-index: -99999;
}
.siyoh{
    width: 35%;
}
.xlor{
    width: 48%;
}

.boshlanish{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bolim{
    background: #3375FF;
    border-radius: 62px;
     padding: 13px 50px;
     border: none;
     color: white;
     font-weight: 600;
     font-size: 16px;
     line-height: 100%;
    letter-spacing: 0%;

}

.strelka{
    border: 1px solid #CCCCCC;
    border-radius: 62px;
    background: white;
    padding: 10px 25px;

}